body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --box-wh: 90px;
}

#calc {
  display: flex;
  align-items: center;
  flex-direction: column;
  vertical-align: middle;
}

#calc > p {
  margin-top: 0;
}

#main-box {
  background-color: rgb(180, 180, 180);
  display: inline-block;
  width: auto;
  padding: 5px;
  margin: 20px;
  border-radius: 8px;
}

.display {
  /* Colors */
  background-color: gray;
  color: white;

  /* Box Model */
  height: calc(var(--box-wh)*1.5);
  width: calc((var(--box-wh) * 4)+ 24px);
  margin: 0 10px;
  font-size: 22px;
  padding: 0 20px;

  /* Align */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  position: relative;
}

.display p {
  /* Box Model */
  grid-column: 2 / 3;
  width: calc(100% - 20px);
  /* width: 100%; */
  padding: 0;
  height: 100%;
  left: -1px;
  border: 1px solid transparent;
  /* margin: 0px 0 10px 0px; */

  /* Align+ */
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  vertical-align: middle;
  
  overflow: scroll;
  overflow-y: hidden;

  font-weight: inherit;
}

.display p::-webkit-scrollbar {
  height: 16px;
}

.display p::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(173, 173, 173);
  height: 5px;
  border: 5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

.display p::-webkit-scrollbar-thumb:hover {
  background-color: rgb(255, 255, 255);
}

.display p::-webkit-scrollbar-track {
  background-color: transparent;
}

#display-last {
  font-size: 20px;
  height: calc(var(--box-wh) / 1.5);
  width: calc((var(--box-wh) * 4)+ 24px);
  padding: 0;
  margin-top: 10px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 3fr;
}

#display-main {
  font-size: 28px;
  margin-top: 2px;
  margin-bottom: 1px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  padding: 0;
}

#grid-icons {
  width: 100%;
  height: 100%;
  background-color: gray;
  position: absolute;
  left: 0;
  top: 0;
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
}

.display .icons {
  stroke-width: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#maind-copyc {
  stroke-width: 4px;
}

.display .icons:hover {
  cursor: pointer;
  transition: 0.5s;
  filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, .8));
  -webkit-filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, .8));
}

.display:hover  {
  background-color: rgb(119, 119, 119);
}

.display:hover > #grid-icons  {
  background-color: rgb(119, 119, 119);
}

.line-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  margin: 0 10px;
}

.line-box:last-child{
  margin-bottom: 10px;
}

.boton {
  /* Colors */
  background-color: gray;
  color: white;

  /* Box Model */
  font-size: 20px;
  border: 2px solid transparent;
  width: var(--box-wh);
  height: var(--box-wh);
  margin: 1px;

  /* Align */
  display: grid;
  text-align: center;
  place-items: center;
}

.line-box .boton:first-child {
  margin-left: 0;
  width: calc(var(--box-wh) + 1);
}

.line-box .boton:last-child {
  margin-right: 0;
  width: calc(var(--box-wh) + 1);
}

.boton:hover {
  cursor: pointer;
  background-color: rgb(185, 185, 185);
  border: 2px solid gray;
  text-shadow: 0px 0px 5px black;
}

.noselect {
  user-select: none;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  cursor: pointer;
}

h1 {
  font-weight: 800;
}

p {
  font-weight: 600;
}

.notif-box {
  z-index: 3;
  position: absolute;
  border: 3px solid white;
  background-color: grey;
  color: white;
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  top: auto;
  left: 60px;
}

.invisible {
  display: none;
}