@media screen and (max-width: 1920px) {
  .display {
    width: 364px;
  }
  .display#display-main {
    height: 127.5px;
  }
  .display#display-main p {
    font-size: 1.38rem;
  }
  .display#display-main .icons svg {
    width: 42.5px;
    height: 42.5px;
    stroke-width: 5px;
  }
  .display#display-last {
    height: 63.75px;
  }
  .display#display-last p {
    font-size: 1.02rem;
  }
  .display#display-last .icons svg {
    width: 34px;
    height: 34px;
    stroke-width: 5px;
  }

  .boton {
    width: 85px;
    height: 85px;
    font-size: 1.2rem;
  }

  .line-box .boton:first-child,
.line-box .boton:last-child {
    width: 86px;
  }

  h1 {
    font-size: 1.8rem;
  }

  .notif-box {
    font-size: 0.9230769231rem;
  }
}
@media screen and (max-width: 1366px) {
  .display {
    width: 344px;
  }
  .display#display-main {
    height: 120px;
  }
  .display#display-main p {
    font-size: 1.38rem;
  }
  .display#display-main .icons svg {
    width: 40px;
    height: 40px;
    stroke-width: 4.5px;
  }
  .display#display-last {
    height: 60px;
  }
  .display#display-last p {
    font-size: 1.02rem;
  }
  .display#display-last .icons svg {
    width: 32px;
    height: 32px;
    stroke-width: 4.5px;
  }

  .boton {
    width: 80px;
    height: 80px;
    font-size: 1.2rem;
  }

  .line-box .boton:first-child,
.line-box .boton:last-child {
    width: 81px;
  }

  h1 {
    font-size: 1.8rem;
  }

  .notif-box {
    font-size: 0.9230769231rem;
  }
}
@media screen and (max-width: 768px) {
  .display {
    width: 304px;
  }
  .display#display-main {
    height: 105px;
  }
  .display#display-main p {
    font-size: 1.15rem;
  }
  .display#display-main .icons svg {
    width: 35px;
    height: 35px;
    stroke-width: 4px;
  }
  .display#display-last {
    height: 52.5px;
  }
  .display#display-last p {
    font-size: 0.85rem;
  }
  .display#display-last .icons svg {
    width: 28px;
    height: 28px;
    stroke-width: 4px;
  }

  .boton {
    width: 70px;
    height: 70px;
    font-size: 1rem;
  }

  .line-box .boton:first-child,
.line-box .boton:last-child {
    width: 71px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .notif-box {
    font-size: 0.7692307692rem;
  }
}
@media screen and (max-width: 380px) {
  .display {
    width: 244px;
  }
  .display#display-main {
    height: 82.5px;
  }
  .display#display-main p {
    font-size: 0.92rem;
  }
  .display#display-main .icons svg {
    width: 27.5px;
    height: 27.5px;
    stroke-width: 3.5px;
  }
  .display#display-last {
    height: 41.25px;
  }
  .display#display-last p {
    font-size: 0.68rem;
  }
  .display#display-last .icons svg {
    width: 22px;
    height: 22px;
    stroke-width: 3.5px;
  }

  .boton {
    width: 55px;
    height: 55px;
    font-size: 0.8rem;
  }

  .line-box .boton:first-child,
.line-box .boton:last-child {
    width: 56px;
  }

  h1 {
    font-size: 1.2rem;
  }

  .notif-box {
    font-size: 0.6153846154rem;
  }
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#calc {
  display: flex;
  align-items: center;
  flex-direction: column;
  vertical-align: middle;
}

#main-box {
  background-color: #b4b4b4;
  display: inline-block;
  width: auto;
  padding: 5px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(49, 49, 49, 0.9);
}

.display {
  background-color: gray;
  color: white;
  margin: 0 10px;
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.display p {
  grid-column: 2/3;
  width: calc(100% - 20px);
  padding: 0;
  height: 100%;
  left: -1px;
  border: 1px solid transparent;
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  vertical-align: middle;
  overflow: scroll;
  overflow-y: hidden;
  font-weight: inherit;
  white-space: nowrap;
}
.display p::-webkit-scrollbar {
  height: 16px;
}
.display p::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #adadad;
  height: 5px;
  border: 5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}
.display p::-webkit-scrollbar-thumb:hover {
  background-color: white;
}
.display p::-webkit-scrollbar-track {
  background-color: transparent;
}
.display .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.display .icons:hover {
  cursor: pointer;
  transition: 0.5s;
  filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.8));
  -webkit-filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.8));
}
.display:hover {
  background-color: #777777;
}

#display-last {
  padding: 0;
  margin-top: 10px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 3fr;
}

#display-main {
  margin-top: 2px;
  margin-bottom: 1px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  padding: 0;
}

#grid-icons {
  width: 100%;
  height: 100%;
  background-color: gray;
  position: absolute;
  left: 0;
  top: 0;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
}

#maind-copyc {
  stroke-width: 4px;
}

.display:hover > #grid-icons {
  background-color: #777777;
}

.line-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  margin: 0 10px;
}
.line-box:last-child {
  margin-bottom: 10px;
}
.line-box .boton:first-child {
  margin-left: 0;
}
.line-box .boton:last-child {
  margin-right: 0;
}

.boton {
  background-color: gray;
  color: white;
  border: 2px solid transparent;
  margin: 1px;
  display: grid;
  text-align: center;
  place-items: center;
}
.boton:hover {
  cursor: pointer;
  background-color: #b9b9b9;
  border: 2px solid gray;
  text-shadow: 0px 0px 5px black;
}
.boton p {
  font-weight: inherit;
}

.noselect {
  user-select: none;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}
a:hover {
  cursor: pointer;
}

h1 {
  font-weight: 900;
  color: #313131;
}

p {
  font-weight: 600;
}

footer a {
  color: #313131;
}

.notif-box {
  z-index: 3;
  position: absolute;
  border: 3px solid white;
  background-color: grey;
  color: white;
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
  top: auto;
  left: 60px;
}

.invisible {
  display: none;
}

/*# sourceMappingURL=index2.css.map */
