body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --box-wh: 85px;
}

#calc {
  display: flex;
  align-items: center;
  flex-direction: column;
  vertical-align: middle;
}

#calc > p {
  margin-top: 0;
}

#main-box {
  background-color: rgb(180, 180, 180);
  display: inline-block;
  width: auto;
  padding: 5px;
  margin: 20px;
  border-radius: 8px;
}

.display {
  /* Colors */
  background-color: gray;
  color: white;

  /* Box Model */
  height: calc(var(--box-wh)*1.5);
  width: calc((var(--box-wh) * 4)+ 24px);
  margin: 0 10px;
  font-size: 22px;
  padding: 0 20px;

  /* Align */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  position: relative;
}

.display p {
  /* Box Model */
  width: calc(100% - 20px);
  padding: 0px 20px 0 0;
  height: 100%;
  left: -1px;
  /* margin: 0px 0 10px 0px; */

  /* Align+ */
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  vertical-align: middle;
  
  overflow: scroll;
  overflow-y: hidden;

  font-weight: inherit;
}

.display p::-webkit-scrollbar {
  height: 16px;
}

.display p::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(173, 173, 173);
  height: 5px;
  border: 5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

.display p::-webkit-scrollbar-thumb:hover {
  background-color: rgb(255, 255, 255);
}

.display p::-webkit-scrollbar-track {
  background-color: transparent;
}

#display-last {
  font-size: 18px;
  height: calc(var(--box-wh) / 1.5);
  margin-top: 10px;
}

#display-main {
  font-size: 28px;
  margin-top: 2px;
  margin-bottom: 1px;
}

#display-icons {
  width: 25%;
  z-index: 2;
  background-color: gray;
  position: absolute;
  left: 0;
  top: 0;
  height: calc(var(--box-wh) / 2);
}

.display a {
  /* color: white; */
  stroke-width: 4px;
  /* display: flex;
  flex-direction: row;
  justify-content: flex-start; */
  position: absolute;
  z-index: 3;
  left: 45px;
  top: 12px;
  /* font-size: 30px; */
  /* background-color: gray; */
  height: 5px;
}

.display a svg {
  z-index: 5;
  background-color: gray;
}

.display a:nth-child(1) {
  left: 10px;
}

.display a:hover {
  cursor: pointer;
}

.line-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  margin: 0 10px;
}

.line-box:last-child{
  margin-bottom: 10px;
}

.boton {
  /* Colors */
  background-color: gray;
  color: white;

  /* Box Model */
  font-size: 20px;
  border: 2px solid transparent;
  width: var(--box-wh);
  height: var(--box-wh);
  margin: 1px;

  /* Align */
  display: grid;
  text-align: center;
  place-items: center;
}

.line-box .boton:first-child {
  margin-left: 0;
  width: calc(var(--box-wh) + 1);
}

.line-box .boton:last-child {
  margin-right: 0;
  width: calc(var(--box-wh) + 1);
}

.boton:hover {
  cursor: pointer;
  background-color: rgb(185, 185, 185);
  border: 2px solid gray;
  text-shadow: 0px 0px 5px black;
}

.noselect {
  user-select: none;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  cursor: pointer;
}

h1 {
  font-weight: 800;
}

p {
  font-weight: 600;
}