@import 'media-queries';

$breakpoints: (
  1920px  85px  1.2rem  5px,
  1366px  80px  1.2rem  4.5px,
  768px   70px  1rem    4px,
  380px   55px  0.8rem  3.5px,
);

@each $width, $box-wh, $fs, $stroke in $breakpoints {
  @media screen and (max-width: $width) {
    .display {
      width: ($box-wh  * 4) + 24px;
      
      &#display-main {
        height: $box-wh * 1.5;
        
        p{
          font-size: $fs * 1.15;
        }

        .icons svg {
          width: $box-wh / 2;
          height: $box-wh / 2;
          stroke-width: $stroke;
        }
      }

      &#display-last{
        height: ($box-wh * 1.5) / 2;
        p {
          font-size: $fs * 0.85;
        }

        .icons svg {
          width: $box-wh / 2.5;
          height: $box-wh / 2.5;
          stroke-width: $stroke;
        }
      }
    }
    .boton {
      width: $box-wh ;
      height: $box-wh ;
      font-size: $fs;
    }
    .line-box .boton:first-child,
    .line-box .boton:last-child {
      width: $box-wh  + 1;
    }
    h1 {
      font-size: $fs * 1.5;
    }
    .notif-box {
      font-size: $fs / 1.3;
    }    
  }
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#calc {
  display: flex;
  align-items: center;
  flex-direction: column;
  vertical-align: middle;
}

#main-box {
  background-color: rgb(180, 180, 180);
  display: inline-block;
  width: auto;
  padding: 5px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(49, 49, 49, .9);
}

.display {
  background-color: gray;
  color: white;
  margin: 0 10px;
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;

  p {
    grid-column: 2 / 3;
    width: calc(100% - 20px);
    padding: 0;
    height: 100%;
    left: -1px;
    border: 1px solid transparent;
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    vertical-align: middle;
    overflow: scroll;
    overflow-y: hidden;
    font-weight: inherit;
    white-space: nowrap;

    &::-webkit-scrollbar {
      height: 16px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: rgb(173, 173, 173);
      height: 5px;
      border: 5px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: rgb(255, 255, 255);
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    scrollbar-width: thin;
    scrollbar-color: rgb(173, 173, 173) transparent;
  }

  .icons {
    // stroke-width: 6px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
      transition: 0.5s;
      filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, .8));
      -webkit-filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, .8));
    }
  }

  &:hover  {
    background-color: rgb(119, 119, 119);
  }
}

#display-last {
  padding: 0;
  margin-top: 10px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 3fr;
}

#display-main {
  margin-top: 2px;
  margin-bottom: 1px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  padding: 0;
}

#grid-icons {
  width: 100%;
  height: 100%;
  background-color: gray;
  position: absolute;
  left: 0;
  top: 0;
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
}

#maind-copyc {
  stroke-width: 4px;
}

.display:hover > #grid-icons  {
  background-color: rgb(119, 119, 119);
}

.line-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  margin: 0 10px;

  &:last-child{
    margin-bottom: 10px;
  }

  .boton{
    &:first-child {
      margin-left: 0;
    }
  
    &:last-child {
      margin-right: 0;
    }
  }
}

.boton {
  background-color: gray;
  color: white;
  border: 2px solid transparent;
  margin: 1px;
  display: grid;
  text-align: center;
  place-items: center;

  &:hover {
    cursor: pointer;
    background-color: rgb(185, 185, 185);
    border: 2px solid gray;
    text-shadow: 0px 0px 5px black;
  }

  p {
    font-weight: inherit;
  }
}

.noselect {
  user-select: none;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 600;

  &:hover {
    cursor: pointer;
  }
}

h1 {
  font-weight: 900;
  color: rgb(49, 49, 49);
}

p {
  font-weight: 600;
}

footer a {
  color: rgb(49, 49, 49);
}

.notif-box {
  z-index: 3;
  position: absolute;
  border: 3px solid white;
  background-color: grey;
  color: white;
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
  top: auto;
  left: 60px;
}

.invisible {
  display: none;
}